/*Maximus Login Page */
/*Page center*/
html, body {
	height: 100%;
	width: 100%;
}
html {
	display: table;
	margin: auto;
}
body {
	/*display: table-cell;*/
	vertical-align: middle;
}
/*Page center end*/
#ul-horizontal-nav > li > a {
	padding: 0 12px !important;
}
.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
	opacity: .5;
}
.fullscreen-bg__video {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
/**/
#email-sidebar {
	height: 437px;
	overflow-y:auto;
}
#email-sidebar ul li a span {
	position: relative;
	top: 0px;
	color: rgba(0, 0, 0, 0.87);
	font-size: 13px;
	display: block;
}
#email-sidebar ul {
	margin: 0;
}
#mail-app nav, #mail-app nav .nav-wrapper i, #mail-app nav a.button-collapse, #mail-app nav a.button-collapse i {
	line-height: 44px;
	height: 44px;
}
#mail-app.section {
	padding-top: 10px;
	margin-top: 0;
}
#login-page {
	width: 385px;
}
nav ul li.active {
	background-color: #ff3d4f !important;
}
nav ul li.red.active {
	background-color: #ff3d4f !important;
}
nav ul li.blue.active {
	background-color: #2196F3 !important;
}
nav ul li.pink.active {
	background-color: #e91e63 !important;
}
nav ul li.green.active {
	background-color: #4CAF50 !important;
}
nav ul li.purple.active {
	background-color: #9c27b0 !important;
}
nav ul li.orange.active {
	background-color: #ff9800 !important;
}
#horizontal-nav li:hover {
	background-color: #dedede !important;
}
#horizontal-nav ul li:hover a i, #horizontal-nav ul li:hover a span {
	color: #ff3d4f !important;
}
#horizontal-nav ul li.active a i, #horizontal-nav ul li.active a span {
	color: #fff;
}
#data-table-simple_wrapper {
	padding: 5px;/*height: 446px;*//*overflow: scroll;*/
}
footer.page-footer {
	/*position: fixed;
	width: 100%;
	bottom: 0;*/
	background-color: rgba(0,0,0,0.6);
}
/*#header {
	min-height: 155px;
}*/
.navbar-fixed {
	position: fixed;
	top: 0;
}
header .brand-logo img {
	height: 40px !important;
}
#content {
	margin-top: 0px !important;
}
.ui-jqgrid tr.jqgrow td {
	padding: 10px 2px 10px 2px;
	font-size: 13px;
	border-color: #ccc;
}
.ui-jqgrid tr.ui-row-ltr td {
	border-right-color: #ccc;
}
.ui-widget-content .btns {
	border: none;
	border-radius: 4px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 0 1rem;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	outline: 0;
	color: #fff;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background: #dddddd 50% 50% repeat-x !important;
	border: 1px solid #aaa;
}
.ui-jqgrid .ui-jqgrid-htable th {
	font-size: 13px;
	font-weight: bold;
}
.dropdown-content li {
	min-height: 30px !important;
}
.dropdown-content li > a, .dropdown-content li > span {
	color: #606060;
}
/*.select-dropdown, .select-wrapper .caret {
	display: none !important;
}*/
/*.ui-jqgrid .ui-jqgrid-pager{ bottom:-62px !important;}*/
.ui-jqgrid .ui-jqgrid-htable {
	width: 100% !important;
	height: 100% !important;
}
.avatar-status {
	margin-top: 12px;
}
.profile-image {
	display: none;
}
#mydiv .modal {
	width: 95% !important;
	top: 1% !important;
}
#mydiv .modal-content {
	padding-top: 45px !important;
}
#inline1 .modal-content {
	padding-top: 64px !important;
}

.modal-header {
	margin: 0;
padding: .3rem;
	color: #fff;
	font-size: 1.15rem;
	background-color: #ff3d4f;
	border: 0;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	display: flex;
	-ms-flex-align: start;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding: 5px 10px;
	border-bottom: 1px solid #e9ecef;
 border-top-left-radius: .3rem;
 border-top-right-radius: .3rem;
}
.modal-header h1 {
	margin: 0;
 padding: .3rem;
	color: #fff;
	font-size: 1.15rem;
}
.modal-header .close {
	padding: 15px;
	margin: -15px -15px -15px auto;
}
button.close {
	padding: 0;
	background: 0 0;
	border: 0;
}
.modal-header .close {
	float: right;
	font-size: 1.5rem;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}
.printdatabox {
	/*height: 320px;
	overflow: auto;*/
	padding: 15px;
}
.modal-overlay {
	opacity: .8 !important;
}
#mydiv td, #mydiv th {
	border: 1px solid #bbb;
	font-size:13px;
	word-wrap: break-word;
}
.ui-common-table {
	position: relative;/*width:100% !important;*/
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
}
.modal .modal-content {
	padding: 5px !important;
}
/*#Allocate_Students .create_student {
	height: 390px;
	overflow: auto;
	padding: 10px 0;
}*/
#Allocate_Students .select-wrapper input.select-dropdown {
	margin-bottom: 0;
}
.create_student .row {
	margin-bottom: 10px;
}
#mydiv.modal {
	width: 70%;
}
.modal {
	max-height: 95% !important;
}
/*.ui-pg-selbox {
	display: none !important;
}*/
.create_student .input-field .create_student .prefix ~ label {
	margin-left: 0 !important;
}
.create_student .select label {
	top: -26px;
}
.create_student select {
	display: block !important;
	/*top: 15px;*/
	margin-bottom: 0px;
	position: relative;
	margin-left: 3rem;
	width: calc(100% - 3rem);
}
.create_student .select-dropdown {
	display: none !important;
}
.create_student .select-wrapper span.caret {
	display: none;
}
#AllocateStudentForm .input-field #AllocateStudentForm .prefix ~ label {
	margin-left: 0 !important;
}
#AllocateStudentForm .select label {
	top: -26px;
}
.picker__select--month.browser-default, #date_from_root select {
    display: inline !important;
}
#AllocateStudentForm select {
	/*display: block !important;*/
	position: relative;
	height: auto;
}
#AllocateStudentForm .select-dropdown {
	display: none !important;
}
#AllocateStudentForm .select-wrapper span.caret {
	display: none;
}
/*#AllocateStudentForm .allocate_student {
    height: 635px;
    overflow: auto;
    padding: 10px 0;
}*/
#AllocateStudentForm .allocate_student .input-field {
	margin-top: 0;
}
/*.create_student {
	height: 390px;
	overflow: auto;
	padding: 10px 0;
}*/
.modal.modal-fixed-header .modal-header {
	position: absolute;
	top: 0;
}
.modal .modal-header {
	z-index: 999;
	width: 100%;
	overflow: hidden;
}
.modal {
	overflow-y: hidden;
	border-radius: 5px;
}
.ui-jqgrid .select-wrapper input.select-dropdown, .ui-jqgrid .select-wrapper span.caret {
	display: none !important;
}
.ui-jqgrid .ui-jqgrid-pager .ui-pg-button {
	float: left;
}
.ui-paging-pager {
	width: auto !important;
}
.navtable {
	float: left;
	width: auto;
}
#pmultiple37_left {
	width: 37%;
}
#calendar {
	box-shadow: 0 0 8px rgba(0,0,0,.1);
	background: #fff;
	padding: 10px 20px 20px;
}
.fc-unthemed thead {
	border-color: #bdbdbd !important;
}
.fc-ltr .fc-basic-view .fc-day-number {
	background: #e0e0e0;
}
#calendar .fc-day-header {
	background: #f53c50;
	color: #fff;
	padding: 7px 0;
}
#caldiv, #schedule_all {
	width: 98% !important;
	top: 1% !important;
	min-height: 94% !important;
}
#mycalendar {
	overflow: auto;
}
#mycalendar h2, #myallcalendar h2 {
	font-size: 2rem;
}
.fullcalendar.modal-content{overflow:hidden !important; height:calc(100% - 20px) !important;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-state-highlight, .ui-widget-content .ui-state-hover, .ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
	background: #d0eccf !important;
}
/*.ui-jqgrid-htable{border-spacing: 2px;}*/
.ui-search-table input[type=text]:not(.browser-default) {
	height: 1rem;
}
#mydiv.modal {
	top: 5% !important;
}
.ui-search-table select {
	display: block !important;
	height: 1.85rem;
	margin: 5px 0;
}
.login_btn.btn {
	background-color: #D32F2F;
}
input:-webkit-autofill {
background-color:rgb(255, 255, 255) !important;
}
.jqgrow .btn {
	border-radius: 5px;
	height: 27px;
	line-height: 27px;
	padding: 0 10px;
	font-size: 12px;
}
.create_student legend {
	font-size: 18px;
	color: #f53c50;
}
.add_share_point .checkbox {
	float: left;
	width: 20%;
}
.profile-button .user_head {
	float: left;
	color: #242021;
	font-size: 14px;
	margin-right: 5px;
}
.search_stud_alloc .btn-floating i {
	line-height: 26px;
	font-size: 1.2rem;
}
.search_stud_alloc .btn-floating {
	width: 25px;
	height: 25px;
	margin:2px;
}
#FacultySaveStudentAllocForm select {
	top: 0;
	}
.search_stud_alloc select{ min-height:360px;}
#DataGrid th, #DataGrid td {
	font-size: 13px;
	/*text-align: center;*/
	padding: 5px;
}
#DataGrid tr {
	background-color: #efefef;
	border-bottom: 1px solid #ccc;
}
.modal-content {
	min-height: 370px;
	max-height:90%;
	overflow-y: scroll;
	margin-bottom: 0;
	
	
}
#Allocate_Schools::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}
 #Allocate_Schools::-webkit-scrollbar {
 width: 5px;
 background-color: #F5F5F5;
}
 #Allocate_Schools::-webkit-scrollbar-thumb {
 background-color: #2695dc;
}
#Allocate_Students::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}
 #Allocate_Students::-webkit-scrollbar {
 width: 5px;
 background-color: #F5F5F5;
}
 #Allocate_Students::-webkit-scrollbar-thumb {
 background-color: #2695dc;
}
.ui-jqgrid-bdiv::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}
 .ui-jqgrid-bdiv::-webkit-scrollbar {
 width: 5px;
 background-color: #F5F5F5;
}
 .ui-jqgrid-bdiv::-webkit-scrollbar-thumb {
 background-color: #2695dc;
}
#email-sidebar::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}
 #email-sidebar::-webkit-scrollbar {
 width: 5px;
 background-color: #F5F5F5;
}
 #email-sidebar::-webkit-scrollbar-thumb {
 background-color: #2695dc;
}
#local_details::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}
 #local_details::-webkit-scrollbar {
 width: 5px;
 background-color: #F5F5F5;
}
 #local_details::-webkit-scrollbar-thumb {
 background-color: #2695dc;
}
.fc-view-container::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}
 .fc-view-container::-webkit-scrollbar {
 width: 5px;
 background-color: #F5F5F5;
}
 .fc-view-container::-webkit-scrollbar-thumb {
 background-color: #2695dc;
}
.fc-view-container{ max-height:495px; overflow-y:auto;}
#external-events-data::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}
#external-events-data::-webkit-scrollbar {
 width: 5px;
 background-color: #F5F5F5;
}
 #external-events-data::-webkit-scrollbar-thumb {
 background-color: #2695dc;

}
#external-events-data{ max-height:510px; overflow:auto;}
#external-events th{ font-size:12px; padding:5px; text-align:center;}
#external-events-data td{ font-size:12px;}

.table-data-scroll::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
}
.table-data-scroll::-webkit-scrollbar {
 width: 5px;
 background-color: #F5F5F5;
}
.table-data-scroll::-webkit-scrollbar-thumb {
 background-color: #2695dc;

}
.table-data-scroll{ height:460px; overflow:auto;}
#printdata th{ font-size:12px; padding:5px; text-align:center;}
.table-data-scroll td{ font-size:12px;}

/*.create_student {
	min-height: 360px;
}*/
.create_student .select_fields{ position:relative;}
.ui-jqgrid .ui-jqgrid-hbox{ padding-right:0 !important;}
.ui-jqgrid .ui-jqgrid-btable{ width:100% !important;}
.uploadfile span{ float:right;}
.student_photo{ float:right; background:#bdbdbd; padding:5px; height:70px;}
.student_photo img{ height:60px;}
#attendance_calendar td{ padding:10px; height:46px;}
#attendance_calendar th{ background:#efeff0; padding:2px; height:10px;}
.attendance_calendar_title h2{ text-align:center; font-size:2rem; margin:10px 0 0 0;}
.claim_details select{ display:block !important;}
.approve_reimbursement .prefix ~ label{ margin-left:1.2rem;}
.picker__header select{ display:inline-block !important;}
.select_fields, .input_check_box{ margin-top:1rem;}
.search_stud_alloc select{ margin:0; width:100%;}
#mydivss .fasa_table td{ font-size:12px; font-family:"Roboto", sans-serif; font-weight:normal;}
#mydivss .fasa_table th{ font-size:12px;  }
.freeze_panes select, .freeze_panes input{ margin:0 !important; width:100% !important; height:1.5rem !important;}
#attendance_calendar blockquote {margin: 5px 0; line-height: 16px; font-size: 13px; border-left: 5px solid #388e3c;}
#external-events input[type=text]:not(.browser-default){ height:1.2rem; margin-bottom:0; font-size:12px;}
.modal-table{/*height:94%;*/ overflow:hidden;}
.floatThead-container{ left:auto !important; top:auto !important;}	
.floatThead-container th, .floatThead-container td{ font-size:12px;}
.modal .modal-footer{padding: 0px 6px;height: 35px;}	
#printdata ul{ margin:0; padding:0;}
.hide_content { display: none;}
.show_content {display: block;}
#img-captcha{ height:35px;}
.fc-event1{position:relative;display:block;font-size:.85em;line-height:1.3;border-radius:3px;border:1px solid #3a87ad;background-color:#3a87ad;font-weight:400}
#external-events .fc-event1 {
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
}
#card-stats{ padding-top:5px;}
#card-stats .card-stats-number{ font-size:1.2rem;}
 @media (max-width: 767px) {
.fullscreen-bg {
	background: url('../images/videoframe.jpg') center center / cover no-repeat;
}
.fullscreen-bg__video {
	display: none;
}
}
 @media (min-width: 1400px) and (max-width: 1920px) {
.ui-jqgrid .ui-jqgrid-bdiv {
	max-height: 100% !important;
}
.ui-jqgrid .ui-jqgrid-view {
	height: auto !important;
}
}
/*Deepranshu*/
div.message {
  color: #66cc66;
  background: white repeat scroll 0 0 #66cc66;
  clear: both;
  border:3px solid #66cc66;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  font-size: 100%;
  font-weight: bold;
  width: 300px;
  margin: 0 0 1em 6px;
  padding: 5px;
  padding-left: 0.4em;
  position:absolute;
  top:9.5%;
  right:-7px
}
@media  screen and (max-width: 1366px) {
     .modal-content {
       height: 540px !important;
	 }
}
@media  screen and (max-width: 1920px) {
     .modal-content {
       height: 700px;
	 }
}
